<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="200" border="03">
  <tr>
    <td><a href="/approve_center">view center request</a></td>
  </tr>
  <tr>
    <td><a href="/approved_center_view">view approved center</a></td>
  </tr>
  <tr>
    <td><a href="/booking_master">view booking master</a></td>
  </tr>

  <tr>
    <td><a href="/feedback">view feedback</a></td>
  </tr>
  <tr>
    <td><a href="/rating">view rating</a></td>
  </tr>
  <tr>
    <td><a href="/complaint">view complaint</a></td>
  </tr>

  <tr>
    <td><a href="/product">view product</a></td>
  </tr>
  <tr>
    <td><a href="/booking">view booking</a></td>
  </tr>
  <tr>
    <td><a href="/user">view user</a></td>
  </tr>
  <tr>
    <td><a href="/payment">view payment</a></td>
  </tr>
</table>
</form>
</body>
</html>
