<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table  border="03">

  <tr>
    <td>#</td>

    <td>Product Name</td>
     <td>Details</td>
    <td>Stock</td>
     <td>Price</td>
     <td>User Id</td>
      <td>Status</td>
    
  </tr>
        {% for i in res %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i['product_name'] }}</td>
    <td>&nbsp;&nbsp;{{ i['details'] }}</td>
     <td>&nbsp;&nbsp;{{ i['stock'] }}</td>
    <td>&nbsp;&nbsp;{{ i['price'] }}</td>
     <td>&nbsp;&nbsp;{{ i['user_id'] }}</td>
     <td>&nbsp;&nbsp;{{ i['status'] }}</td>

  </tr>
    {% endfor %}
  
</table>
</form>
</body>
</html>
