<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table  border="03">
  <tr>
    <td>#</td>

    <td>Master Id</td>
     <td>Product Id </td>
    <td>Quantity</td>
     <td>Date</td>
     <td>Status</td>
    
  </tr>
   {% for i in res %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;&nbsp;{{ i['master_id'] }}</td>
      <td>&nbsp;&nbsp;{{ i['product_id'] }}</td>
      <td>&nbsp;&nbsp;{{ i['quantity'] }}</td>
      <td>&nbsp;&nbsp;{{ i['date'] }}</td>


    </tr>
      {% endfor %}
  
</table>
</form>

</body>
</html>
