<html>
<head></head>
<body>
 <div><center> <h1 > Sign up!! </h1>   </center></div>
  <div><form>  
     
        <table style="width: 50%; 

        margin: 0 auto;">
          <tr>
            <td>
              <label>Username : </label> 
            </td>
            <td> 
                <input type="text" placeholder="Enter Username" name="username">
            </td>
          </tr>
          <tr>
            <td>
              <label>Password : </label>  
            </td>
            <td>
              <input type="password" placeholder="Enter Password" name="password">
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit">Login</button>
            </td>
          </tr>
          <tr>
            <td><a href="center_registraction.html">center registration</a></td>
            <td><a href="User_Registration.html" >user registration</a></td>
          </tr>
          
        </table>   
          
        
  </form> 
 
</div>

</body>
</html>